* {
    box-sizing: border-box;
}


body {
    min-width: 1020px;
    word-wrap: break-word;
    display: block;
}

body {
    background-color: black;
    font-family: "Rosewood Std Regular", sans-serif;
    font-size: 3em;
    line-height: 1.5;
}

body {
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


div {
    display: block;
}

.mySlides {
    display: none;
}

.btnLocal {
    background-color: black;
    border-color: black;
    font-size: 100%
}