<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/seleccion_personaje.css">
</head>
<body>
    <h1>Selecciona tu Personaje</h1>
    <div>
        <table class="table table-bordered table-inverse">
        {% if personajes %}
            <tr>
            {% for pers in personajes %}
                <th><img src="../../static/images/{{ pers.nombre }}_ico.png" class="th_ico" alt="{{ pers.nombre }}" align="middle"></th>
            {% endfor %}
            </tr>
        {% else %}
            <h2>No hay Personajes</h2>
        {% endif %}
        </table>
    </div>
</body>
</html>